@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: white;
       
}

:focus {
    outline: 0;
}

::-moz-placeholder {
    opacity: 1;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    margin-right: 20px;
    flex-wrap: wrap;

}

header .logo {
    margin-right: auto;
    margin-left: 20px;
    
}

header a {
    color: black;
    text-decoration: none;
    padding-right: 20px; 
    margin: auto 0px auto 0px;
    text-align: right;
}

header a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 49px;
}

.searcher h2{
    font-weight: 600;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 30px;
}

.searcher p{
    margin-left: 20px;
}

.searcherBanner{
    border-radius: 15px;
    max-width: 420px;
    height: 50px;
    border: 1px solid #F2F2F2;
    display: flex; 
    justify-content: stretch;
    align-items: center;
    margin-left: 20px;
    
}

.searcherBanner :nth-child(4n){
    display:none;
}

.searcherBanner label i {
    background-color: #F2F2F2;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchBox {
    max-width: 240px;
    height: 50px;
    width: 100%;
    font-weight: 800;
    font-size: 18px;
    border: 0.5px solid #F2F2F2;
    font-family: 'Raleway', sans-serif;

}

#searchBox::placeholder{
    color: black;
    
}   

#searchBox:placeholder-shown{
    padding-left: 15px;
}
    
#searchButton {
    background-color: #0065FC;
    max-width: 130px;
    width: 100%;
    height: 50px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    font-weight: 800;
    font-size: 18px;
    color: white;
    border: 1px solid #F2F2F2;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;

}

.searcherBanner :nth-child(4n){
    display:none;
}



.filters {
    display: flex;
    flex-direction: column;
    min-height: 80px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: 30px;
}

.filters h2{
    margin-right: 30px;

}

.boxArange{
    display: flex;
    flex-wrap: wrap;
    
    
}

.filterBoxes {
    width: fit-content;
    border-radius: 20px;
    border: 1px solid #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
    margin: 10px
    
}

.filterBox {
    background: none;
    border: none;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    font-weight: 800;
    font-size: 18px;
    height: 40px;
}

.filterBox:hover {
    color: #0065FC;
}

.filterBoxes i {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #DEEBFF;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    color: #0065FC;  
}


.infoTown{
    display: flex;
    align-items: center;
    width: auto;
    margin: 5px; 
    margin-left: 30px;
    
}

.infoTown p {
    margin-left: 10px;
    height: 100%;
}

.infoTown i{
    background: #0065FC;
    color: white;
    border-radius: 20px;
}


.hebergementsPopular{
    display: flex;
    justify-content: space-around;
    
    
}

#hebergements{
    background: #F2F2F2;
    border-radius: 10px;
    width: 65%;
    min-width: 350px;
    margin: 20px;
    max-width: 900px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}


#hebergements h2{
    margin-left: 20px;
    font-size: 18px;

}

.hostingContainer{
    display: flex;   
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;    
}

.houseClick{
   
    border-radius: 15px;
    background: white;
    display: flex;
    flex-direction: column; 
    text-decoration: none;
    color: black;
    margin: 10px;
    cursor: pointer;
    border: 5px;
    margin-bottom: 20px;
    
}

.houseClick img{
    width: 240px;
    height: 114px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: block;
    max-width: 98%;
    padding: 5px;
    border: 5px;
    object-fit: cover;
}

.houseClick h3{
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
    font-size: 12px;
}

.houseClick p{
    margin: 5px;
    margin-left: 10px;
    font-size: 10px;
}

.houseClick p span{
    font-weight: 900;
}

.rating{
    margin-left: 10px;
}

.rating .fas{
    padding-top: 0px;
    font-size: 10px;
    margin-bottom: 10px;
    color:#0065FC;   
}

/*.rating .fas:nth-child(n),
.rating .fas:nth-child(2n),
.rating .fas:nth-child(3n),
.rating .fas:nth-child(4n),*/
.rating .fas:nth-child(5n)
{
    color:#F2F2F2;   
}


.rating2{
    margin-left: 10px;
}

.rating2 .fas{
    padding-top: 0px;
    font-size: 10px;
    margin-bottom: 10px;
    color:#0065FC;   
}

/*.rating2 .fas:nth-child(n),
.rating2 .fas:nth-child(2n),
.rating2 .fas:nth-child(3n),
.rating2 .fas:nth-child(4n),
.rating2 .fas:nth-child(5n)
{
    color:#F2F2F2;
}*/ 


.rating3{
    margin-left: 10px;
}

.rating3 .fas{
    padding-top: 0px;
    font-size: 10px;
    margin-bottom: 10px;
    color:#0065FC;   
}

/*.rating3 .fas:nth-child(n),
.rating3 .fas:nth-child(2n),
.rating3 .fas:nth-child(3n),
.rating3 .fas:nth-child(4n),*/
.rating3 .fas:nth-child(5n){
    color:#F2F2F2;
} 


.rating4{
    margin-left: 10px;
}

.rating4 .fas{
    padding-top: 0px;
    font-size: 10px;
    margin-bottom: 10px;
    color:#0065FC;    
}

/*.rating4 .fas:nth-child(n),
.rating4 .fas:nth-child(2n),
.rating4 .fas:nth-child(3n)*/
.rating4 .fas:nth-child(4n),
.rating4 .fas:nth-child(5n){
    color:#F2F2F2;
} 

.rating5{
    margin-left: 10px;
}

.rating5 .fas{
    padding-top: 0px;
    font-size: 10px;
    margin-bottom: 10px;
    color:#0065FC;    
}

/*.rating5 .fas:nth-child(n),
.rating5 .fas:nth-child(2n),
.rating5 .fas:nth-child(3n),
.rating5 .fas:nth-child(4n),*/
.rating5 .fas:nth-child(5n){
    color:#F2F2F2;
} 

.rating6{
    margin-left: 10px;
}

.rating6 .fas{
    padding-top: 0px;
    font-size: 10px;
    margin-bottom: 10px;
    color:#0065FC;    
}

/*.rating6 .fas:nth-child(n),
.rating6 .fas:nth-child(2n),
.rating6 .fas:nth-child(3n),
.rating6 .fas:nth-child(4n),
.rating6 .fas:nth-child(5n){
    color:#F2F2F2;
} */

#portrait{
    width:240px;
    height:114px;
    background: center/100% url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg) no-repeat;
    margin: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: block;
    max-width: 98%;
    border: 5px
}

#popular{
    background: #F2F2F2;
    border-radius: 10px;
    width: 15%;
    padding: 20px;
    min-width: 280px;
    margin: 20px;
    padding-right: 30px;
    
}

.popularContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titlePopular{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.titlePopular h2 {
    padding-top: 0px;
}


.popularClick{
    width: 260px;
    border-radius: 15px;
    background: white;
    display: flex;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border: 5px;
    padding: 5px 5px 0px 5px;
    margin:  20px auto 20px auto;
    
}

.popularClick img{
    width: 130px;
    height: 130px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: block;
    border: 5px;
    object-fit: cover;
}

.titlePresentation{
    display: flex;
    flex-direction: column;
    
}

.titlePresentation h3{
    margin: 10px 20px 0px 10px;
    font-size: 12px;
}

.titlePresentation p{
    margin: 5px;
    margin-left: 10px;
    font-size: 10px;
}

.titlePresentation p span{
    font-weight: 900;
}


.rating7{
    margin-left: 10px;
    padding-top: 50px;
}

.rating7 .fas{
    font-size: 10px;
    margin-bottom: 10px;
    color:#0065FC;    
}

/*.rating7 .fas:nth-child(n),
.rating7 .fas:nth-child(2n),
.rating7 .fas:nth-child(3n),
.rating7 .fas:nth-child(4n),
.rating7 .fas:nth-child(5n){
    color:#F2F2F2;
} */

.rating8{
    margin-left: 10px;
    padding-top: 50px;
}

.rating8 .fas{
    font-size: 10px;
    margin-bottom: 10px;
    color:#0065FC;    
}

/*.rating8 .fas:nth-child(n),
.rating8 .fas:nth-child(2n),
.rating8 .fas:nth-child(3n),
.rating8 .fas:nth-child(4n),*/
.rating8 .fas:nth-child(5n){
    color:#F2F2F2;
} 

.rating9{
    margin-left: 10px;
    padding-top: 50px;
}

.rating9 .fas{
    font-size: 10px;
    margin-bottom: 10px;
    color:#0065FC;    
}

/*.rating9 .fas:nth-child(n),
.rating9 .fas:nth-child(2n),
.rating9 .fas:nth-child(3n),
.rating9 .fas:nth-child(4n),*/
.rating9 .fas:nth-child(5n){
    color:#F2F2F2;
} 

#activity{
    font-size: 14px;
}

#activity h2{
    margin-left: 30px;
}

.boxActivities{
    display: flex;   
    justify-content: space-around;
    

}

.leftAct{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.boxActivity{
    border-radius: 15px;
    background: white;
    display: flex;
    flex-direction: column; 
    text-decoration: none;
    color: black;
    margin: 10px;
    cursor: pointer;
    box-shadow: 4px 4px 6px #F2F2F2;
    
}

.imageAct{
    width: 300px;
    height: 350px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: block;
    object-fit: cover;

}

.boxActivity  p{
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    font-size: 12px;
}

.activityContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#imageAct1{
    width: 300px;
    height: 180px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: block;
    object-fit: cover;
}

#imageAct2{
    width: 300px;
    height: 112px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: block;
    object-fit: cover;
    
}

#imageAct3{
    width: 300px;
    height: 140px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: block;
    object-fit: cover;
    
}
#imageAct4{
    width: 300px;
    height: 153px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: block;
    object-fit: cover;
    
}

#footerPres{
    display: flex;
    justify-content: space-around;
    background: #F2F2F2;
    margin-top: 40px;
    width: auto;
    padding-left: 40px;
    
}

.about,
.ourOffer,
.assistance{
    padding: 10px;
}

.about p,
.ourOffer p,
.assistance p{
margin: 8px;

}

@media screen and (min-width:1400px) {
    .mainContent {
        max-width: 1400px;
        margin: auto;
    }
}

@media screen and (max-width:800px) {
    
    body {
        display: initial;
        font-family: 'Raleway', sans-serif;
        background-color: white;
        margin: auto;

    }

    header {
        width: 100%;
    }


    header :nth-child(2){
        order: 3;
    }

    header :nth-child(3) {
        order: 4;  
    }

    header :nth-child(2),
    header :nth-child(3) {
        border-bottom: 1px solid #F2F2F2;
        padding: 0px;
        padding-bottom: 20px;
        width: 50%;
        text-align: center;
        margin: 0px;
        margin-top: 40px;
        
    }

    header :nth-child(2):hover,
    header :nth-child(3):hover{
        border-top: none;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 20px;
        color: #0065FC;

    }

    header :nth-child(4) {
        width: 50%; 
        color: #0065FC;
        border-top: none;
        font-size: 18px;
        font-weight: 600;
    }

    header :nth-child(4):hover {
        border-top: none;
    }


    .searcherBanner{
        border-radius: 15px;
        max-width: 340px;
        margin-right: 20px;
    }

    .searcherBanner :nth-child(3n){
        display: none;
        
    }

    .searcherBanner :nth-child(4n) {
        display: initial;
        background-color: #0065FC;
        min-width: 50px;
        min-height: 50px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        font-size: 30px;
        color: white;
        border: 1px solid #F2F2F2;
        cursor: pointer;
        

    }

    .boxArange{
        max-width: 470px;
        
    }

    .hebergementsPopular{
        flex-wrap: wrap-reverse;
    }

    #popular{
        background: #F2F2F2;
        width: 100%;
        padding: 10px;
        padding-right: 20px;
        margin: auto;
        border-radius: initial;
    }

    #popular h2{
        margin-left: 30px;
    }

    #hebergements{
        background: white;
        width: 100%;
        min-width: 350px;
        margin-bottom: 10px;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .houseClick{
        box-shadow: 4px 4px 6px #F2F2F2;
        margin: 5px;
    }

    .popularContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
        align-items: center;
    
    }

    .popularClick{
        box-shadow: 4px 4px 6px #cac8c8;
        margin: 5px;
        
    }

    
    .boxActivities{
        flex-wrap: wrap;
        margin: 10px auto 10px auto;
     
    }

    .leftAct{
        max-width: 600px;
        flex-direction: row;
        align-items: center;
        
    }

    .boxActivity {
        margin: 8px;
        max-height: 147px;
    }


    .imageAct,
    #imageAct1,
    #imageAct2,
    #imageAct3,
    #imageAct4{
        height: 115px;
    }
        

    #footerPres{
        flex-direction: column;
        
        
    }

   
}



